:root {
  --topBar-h: 3em;
}

@media (orientation: portrait) {
  .topBar {
    @apply flex;
    height: var(--topBar-h);
  }
  .wrap {
    @apply w-full justify-center;
  }
  .center {
    max-height: calc(100vh - var(--topBar-h));
  }
  .left,
  .right {
    @apply hidden;
  }
}

@media (orientation: landscape) {
  .topBar {
    @apply hidden;
  }
  .left.left,
  .right.right {
    @apply flex;
  }
}
