.board_cell {
  width: calc(var(--board-height) / 20 - var(--board-remainder));
  height: calc(var(--board-height) / 20 - var(--board-remainder));
}

.board_cell-initial {
  @apply bg-text;
  background-size: 6px 6px;
  background-image: repeating-linear-gradient(
    45deg,
    theme("colors.board_shade") 0,
    theme("colors.board") 2px,
    theme("colors.board") 0,
    theme("colors.board_shade") 50%
  );
}
