@tailwind base;
@tailwind components;
@tailwind utilities;

.cibulka-tetris svg {
  @apply fill-current;
}

.cibulka-tetris *:focus {
  outline: 2px dotted;
  outline-color: theme('colors.outline');
  outline-offset: 3px;
  @apply rounded-md;
}

@media (max-height: 660px) {
  .cibulka-tetris .translate-y-screen {
    transform: translateY(660px);
  }
}
